<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <title>Document</title>
</head>
<body class="bg-light">
    
    <div class="container" onmousedown='return false;' onselectstart='return false;'>
        <div class="row">
          <div class="col-0 col-sm-2">
          
          </div>
          <div class="col-12 col-sm-8 bg-white shadow rounded-3 p-5 mt-5">

         
        {% if quiz %}
        <h3>Question: &emsp; {{quiz.title}}</h3>
        {% else %}
        <h1>
            Your Exam Result
        </h1>
        <br />
        <p>User Name : {{ request.user.username }}</p>
        <p>Name : {{ request.user.first_name }}</p>
        <p>Roll Number: {{ request.user.student.roll_num }}</p>
        {{request.user.student.userquizinfo.last}}
            
            <p>Number of correct answer : {{ result_info.num_of_correct_ans }} </p>
            <p> Your score is : {{ result_info.result }}</p>
            <p>start time : {{ result_info.start_time}}</p>
            <p>end time : {{ result_info.end_time }}</p>
            <p>time delta : {{ result_info.time_delta }}</p>
            
            <br />
            <a class="text-decoration-none mx-4" href="{% url 'quiz_app:exam_view' %}" ><button type="button" class="d-inline p-2 px-4 shadow btn btn-info">Back</button></a>
            <a class="text-decoration-none mx-4" href="{% url 'logout' %}" ><button type="button" class="d-inline p-2 px-4 shadow btn btn-info">Logout</button></a>
        {% endif %}
            <br />
            <br />

            <!-- {% if quiz %}
            <button class="btn btn-info float-md-end shadow px-3 mb-5 mb-md-1" type="button" onclick="showHints()">Hints</button>
            <br />
            {% endif %} -->

            <form method="post">
                {% csrf_token %}
            {% for option in options %}
            <ul style="list-style-type:none;">
                <li>
                    <input type="checkbox" name="{{ option.title }}" id=""> &emsp; {{option.title}}</li>
            </ul>
            {% endfor %}

            {% if error %}
            <span class="h1 text-danger"> {{ error }} </span> 
            {% endif %}

            {% if correct %}

                <span class="h1 text-success">{{ correct }}</span>
            {% endif %}
            <br />
            <br />
            {% if quiz %}
            <input class="btn btn-info d-inline p-2 px-3 shadow" type="submit" value="Submit">
            {% endif %}

 
            {% if quiz %}
            <a class="text-decoration-none mx-4" href="{% url 'quiz_app:quiz_view' id=quiz.exam_info.pk pk=next_pk  %}" >
            <!-- <button type="button" class="d-inline p-2 px-4 shadow btn btn-info">Next</button> -->
            </a>
            {% endif %}
            

        </form>
        <br />        
            <span id="hints" style="display: none;"><span class="h5">Hints : </span> {{ quiz.hints }}</span>
        <br />



        </div>
 
        <div class="col-0 col-sm-2">
            
          </div>
        </div>
    </div>




    {% include 'base/other_footer.html' %}
</body>
</html>