

<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
</head>
<body class="bg-light">
    <div class="container">
        <div class="row">
          <div class="col-0 col-sm-2">
          
          </div>
          <div class="col-12 col-sm-8 bg-white shadow rounded-3 p-5 mt-5">
            
            <h3 class="">Password Reset</h3>
              <p class="text-muted">Enter your email address</p>
            <br />
            <br />
        <form method="POST" action="">
                {% csrf_token %}
                

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
                    </span>
                  </div>
                  {% render_field form.email class="form-control" placeholder=form.email.label %}
                  {% for error in form.email.errors %}
                    <span class="help-block">{{ error }}</span>
                  {% endfor %}
                </div>
               
              
               <br>
               <br>
            <input class="btn btn-info d-inline p-2 px-3 shadow" type="submit" value="Login">


        </form>



        </div>
 
        <div class="col-0 col-sm-2">
            
          </div>
        </div>
    </div>


</body>
</html>