

<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
</head>
<body class="bg-light">
    <div class="container">
        <div class="row">
          <div class="col-0 col-sm-2">
          
          </div>
          <div class="col-12 col-sm-8 bg-white shadow rounded-3 p-5 mt-5">
            
            <h1>Reset Password</h1>
                <p class="text-muted">Please enter your new password.</p>
                <form method="POST">
                  {% csrf_token %}
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-key fa-2x" aria-hidden="true"></i>
                      </span>
                    </div>
                    {% render_field form.new_password1 class="form-control" placeholder=form.new_password1.label %}
                    {% for error in form.new_password1.errors %}
                      <span class="help-block">{{ error }}</span>
                    {% endfor %}
                  </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-key fa-2x" aria-hidden="true"></i>
                      </span>
                    </div>
                    {% render_field form.new_password2 class="form-control" placeholder="Confirm password" %}
                    {% for error in form.new_password2.errors %}
                      <span class="help-block">{{ error }}</span>
                    {% endfor %}
                  </div>

                  <div class="row">
                    <div class="col-12" align="right">
                      <button class="btn btn-primary px-4" type="submit">Change password</button>
                    </div>
                  </div>
                </form>

        </div>
 
        <div class="col-0 col-sm-2">
            
          </div>
        </div>
    </div>


</body>
</html>


